PORT=port number
FIREBASE_PROJECT_ID="cholobuddyDB"
GOOGLE_APPLICATION_CREDENTIALS="file.json"
BETTER_AUTH_SECRET="your-better-auth-secret-key"
BETTER_AUTH_URL="your-auth-url"
NEXT_PUBLIC_FRONTEND_URL="your-app-url"
IMGBB_API_KEY="your-imgbb-api-key"
