PORT=port number
MONGODB_URI="your-mongodb-connection-string"
BETTER_AUTH_SECRET="your-better-auth-secret-key"
BETTER_AUTH_URL="your-localhost-url"
NEXT_PUBLIC_APP_URL="your-localhost-url"
IMGBB_API_KEY="your-imgbb-api-key"
