PORT=port number
MONGODB_URI="your-mongodb-connection-string"
BETTER_AUTH_SECRET="your-better-auth-secret-key"
BETTER_AUTH_URL="your-auth-url"
NEXT_PUBLIC_FRONTEND_URL="your-app-url"
IMGBB_API_KEY="your-imgbb-api-key"
